APP_NAME=Document Intelligence Platform

DEBUG=True

API_PREFIX=/api/v1

MONGODB_URI=mongodb://localhost:27017

DATABASE_NAME=document_intelligence

GROQ_API_KEY=your_api_key

LLM_MODEL=openai/gpt-oss-20b